$offerBackground: rgb(4, 72, 181);
$title: rgb(1, 47, 158);
$smallTitle: rgb(198, 198, 198);
$advertBackground: rgb(0, 47, 157);
$infoDetails: rgb(1, 32, 89);
$upgradesTitle: rgb(56, 189, 254);
$white: rgb(255, 255, 255);
$footerText: rgb(128, 128, 128);
$alert: rgb(235, 237, 41);

@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin padding {
  padding-left: 5%;
  padding-right: 2%;
}

// * {
//   border: 1px solid red;
//   // margin: 5px;
// }

a {
  text-decoration: none;
}

body {
  border-bottom: 10px solid $upgradesTitle;
}

#header-nav {
  @include padding();
  @include flex-display();
  padding-bottom: 1%;

  div {
    @include flex-display();
    width: 20%;
  }
  a {
    color: $title;
  }
  #login-btn {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }

  img {
    width: 30%;
    height: 100%;
  }
}

.carousel {
  #image {
    object-fit: cover;

    width: 100%;
    height: 550px;
  }
  .offer {
    @include flex-display();
    flex-direction: column;
    align-items: flex-start;
    @include padding();
    position: absolute;
    top: 50%;
    width: 20%;
    height: 30%;
    margin-left: 7%;
    text-align: justify;
    font-size: 18px;

    #offer-text {
      color: $white;
      font-weight: bold;
      font-size: 250%;
    }
    #offer-price {
      color: $white;
    }
    #book {
      color: $white;
      background-color: $advertBackground;
      padding: 1%;
      font-weight: bold;
      text-decoration: none;
      padding: 5%;
    }
  }
}

.info {
  padding-top: 5%;
  padding-bottom: 5%;
  #info-details {
    @include flex-display();
    justify-content: center;
    color: $infoDetails;

    .col {
      margin-right: 5%;
      margin-left: 5%;
      width: 30%;
      .title {
        display: flex;
        align-items: flex-start;

        h3 {
          margin: 0;
        }
        .icon {
          min-width: 100px;
          margin-top: 10%;
        }
      }
    }
  }

  h6 {
    color: $smallTitle;
    text-align: center;
    margin-bottom: 0px;
  }

  h1 {
    color: $title;
    text-align: center;
    font-size: 300%;
    margin-top: 0px;
  }
}

#advert {
  @include flex-display();
  flex-direction: column;

  background: $advertBackground;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 15%;
  padding-right: 15%;

  .items {
    @include flex-display();
    align-items: stretch;

    .advert {
      @include flex-display();
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      height: 250px;
      margin-right: 1%;

      #alert {
        @include padding();
        align-self: flex-start;
        position: relative;
        bottom: 95%;
        left: -5%;
        background-color: $alert;
        color: $advertBackground;
        font-weight: bold;
      }

      div {
        background-color: $white;
        height: 125px;

        img {
          width: 100%;
          height: 125px;
        }
      }

      .details {
        padding: 10%;
        color: $offerBackground;
        .city {
          font-weight: bold;
        }

        a {
          font-weight: bold;
          color: $offerBackground;
        }
      }
    }
  }

  header {
    align-self: flex-start;
    color: $white;
  }
}

.upgrades {
  background: $infoDetails;
  @include flex-display();
  flex-direction: column;
  @include padding();
  padding: 5% 20%;

  #extras {
    color: $white;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
  }
  h6 {
    margin: 0;
    color: $white;
    text-align: center;
  }

  h1 {
    margin: 0;
    color: $title;
    text-align: center;
    font-size: 300%;
    color: $upgradesTitle;
  }

  a {
    color: $upgradesTitle;
    align-self: flex-end;
  }

  section {
    align-self: stretch;

    .upgrade-type {
      @include flex-display();
      flex-direction: column;
      align-items: stretch;
      background-color: $white;

      .tab {
        display: flex;
        header {
          text-align: center;
          flex: 1;
          margin: 0;
          padding: 1%;
          color: $advertBackground;
          font-weight: bold;

          &.active {
            border-top-style: solid;
            border-top-width: 7px;
            border-top-color: $upgradesTitle;
          }
        }
      }

      #upgrade-content {
        display: flex;
        #main-img {
          border-radius: 50%;
          height: 200px;
          width: 200px;
          margin: 5%;
        }
        .tabcontent {
          width: 100%;
          @include flex-display();
          display: none;
          &#regular {
            display: flex;
          }

          > div {
            @include flex-display();
            flex-direction: column;
            align-items: flex-start;
            margin: 10%;
            > div {
              @include flex-display();
              height: 50px;
            }
          }
        }
      }
    }
  }
}

#where-to-go {
  color: $advertBackground;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 25pt;

  span {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  a {
    border-bottom: dashed 4px $advertBackground;
    color: $advertBackground;
    text-decoration: none;
    font-weight: bold;
  }
}

#subscribe {
  background: $advertBackground;
  color: $white;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 2%;
  justify-content: space-between;

  #email {
    // flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    #subscribe-text {
      flex: 1;
    }
  }
  #input {
    border-bottom: 1px solid $white;
    width: 70%;
    justify-content: space-between;
    display: flex;

    input {
      background-color: $advertBackground;
      color: $smallTitle;
      border: 0px;
      width: 70%;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }

  #social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
}

#footer {
  display: flex;
  padding-left: 5%;
  padding-right: 2%;
  margin-top: 1%;
  justify-content: space-between;
  border-bottom-width: 10px;

  #card-icons {
    display: flex;
    width: 15%;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  #legal-documents {
    color: $footerText;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }
}
