a {
  text-decoration: none;
}

body {
  border-bottom: 10px solid #38bdfe;
}

#header-nav {
  padding-left: 5%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1%;
}

#header-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

#header-nav a {
  color: #012f9e;
}

#header-nav #login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#header-nav img {
  width: 30%;
  height: 100%;
}

.carousel #image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 550px;
}

.carousel .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 5%;
  padding-right: 2%;
  position: absolute;
  top: 50%;
  width: 20%;
  height: 30%;
  margin-left: 7%;
  text-align: justify;
  font-size: 18px;
}

.carousel .offer #offer-text {
  color: white;
  font-weight: bold;
  font-size: 250%;
}

.carousel .offer #offer-price {
  color: white;
}

.carousel .offer #book {
  color: white;
  background-color: #002f9d;
  padding: 1%;
  font-weight: bold;
  text-decoration: none;
  padding: 5%;
}

.info {
  padding-top: 5%;
  padding-bottom: 5%;
}

.info #info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #012059;
}

.info #info-details .col {
  margin-right: 5%;
  margin-left: 5%;
  width: 30%;
}

.info #info-details .col .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.info #info-details .col .title h3 {
  margin: 0;
}

.info #info-details .col .title .icon {
  min-width: 100px;
  margin-top: 10%;
}

.info h6 {
  color: #c6c6c6;
  text-align: center;
  margin-bottom: 0px;
}

.info h1 {
  color: #012f9e;
  text-align: center;
  font-size: 300%;
  margin-top: 0px;
}

#advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #002f9d;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 15%;
  padding-right: 15%;
}

#advert .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#advert .items .advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 250px;
  margin-right: 1%;
}

#advert .items .advert #alert {
  padding-left: 5%;
  padding-right: 2%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  bottom: 95%;
  left: -5%;
  background-color: #ebed29;
  color: #002f9d;
  font-weight: bold;
}

#advert .items .advert div {
  background-color: white;
  height: 125px;
}

#advert .items .advert div img {
  width: 100%;
  height: 125px;
}

#advert .items .advert .details {
  padding: 10%;
  color: #0448b5;
}

#advert .items .advert .details .city {
  font-weight: bold;
}

#advert .items .advert .details a {
  font-weight: bold;
  color: #0448b5;
}

#advert header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
}

.upgrades {
  background: #012059;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
  padding-right: 2%;
  padding: 5% 20%;
}

.upgrades #extras {
  color: white;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.upgrades h6 {
  margin: 0;
  color: white;
  text-align: center;
}

.upgrades h1 {
  margin: 0;
  color: #012f9e;
  text-align: center;
  font-size: 300%;
  color: #38bdfe;
}

.upgrades a {
  color: #38bdfe;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.upgrades section {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.upgrades section .upgrade-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: white;
}

.upgrades section .upgrade-type .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upgrades section .upgrade-type .tab header {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 1%;
  color: #002f9d;
  font-weight: bold;
}

.upgrades section .upgrade-type .tab header.active {
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: #38bdfe;
}

.upgrades section .upgrade-type #upgrade-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upgrades section .upgrade-type #upgrade-content #main-img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 5%;
}

.upgrades section .upgrade-type #upgrade-content .tabcontent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.upgrades section .upgrade-type #upgrade-content .tabcontent#regular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upgrades section .upgrade-type #upgrade-content .tabcontent > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10%;
}

.upgrades section .upgrade-type #upgrade-content .tabcontent > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

#where-to-go {
  color: #002f9d;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 25pt;
}

#where-to-go span {
  padding-top: 2%;
  padding-bottom: 2%;
}

#where-to-go a {
  border-bottom: dashed 4px #002f9d;
  color: #002f9d;
  text-decoration: none;
  font-weight: bold;
}

#subscribe {
  background: #002f9d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#subscribe #email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

#subscribe #email #subscribe-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#subscribe #input {
  border-bottom: 1px solid white;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#subscribe #input input {
  background-color: #002f9d;
  color: #c6c6c6;
  border: 0px;
  width: 70%;
}

#subscribe #input a {
  color: white;
  text-decoration: none;
}

#subscribe #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  padding-right: 2%;
  margin-top: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom-width: 10px;
}

#footer #card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
}

#footer #card-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#footer #legal-documents {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}
/*# sourceMappingURL=index.css.map */